<!doctype html>
<link rel=stylesheet type=text/css href="<%= url('/style.css') %>">
<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
  <% if current_user %>
    <a href="/">my timeline</a> |
    <a href="/public">public timeline</a> |
    <a href="/logout">sign out <%= current_user.username %></a>
  <% else %>
    <a href="/public">public timeline</a> |
    <a href="/register">sign up</a> |
    <a href="/login">sign in</a>
  <% end %>
  </div>
  <% if flash[:success] %>
    <ul class=flashes>
      <li><%= flash[:success] %></li>
    </ul>
  <% end %>
  <div class=body>
    <%= yield %>
  </div>
  <div class=footer>
    MiniTwit &mdash; A Sinatra Application
  </div>
</div>
